.modal-body
{
    height: 550px;
}

.bottom-row
{
    position: absolute;
    bottom: -20px;
    width: 100%;
}

.deleteRow
    {
    background-color:lightgray
    }

.editRow
    {
    background-color:lightgray
    }