<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="invoice" class="modal-body">
  Customer: {{invoice.customer.name}} {{invoice.customer.address}}
  <hr>
  <div class="row">

    <div class="col-2 form-group">
      <label for="inDate">InvoiceDate:</label>
      <input id="inDate" type="text" class="form-control" value="{{invoice.header.invoiceDate | date:'yyyy.dd.MM'}}"
        readonly="true">
    </div>

    <div class="col-2 form-group">
      <label for="inDue">Due:</label>
      <input id="inDue" type="text" placeholder="Due" class="form-control" bsDatepicker [(ngModel)]="invoice.header.due">
    </div>

    <div class="col-2 form-group">
      <label for="inFulfilment">Fulfilment:</label>
      <input id="inFulfilment" type="text" placeholder="Fulfilment" class="form-control" bsDatepicker [(ngModel)]="invoice.header.fulfilment">
    </div>

    <div class="col-3 form-group">
      <label for="inPayment">Payment method:</label>

      <select id="inPayment" class="form-control" [(ngModel)]="invoice.header.paymentMethod">
        <option value="Cash">Cash</option>
        <option value="Paypal">Paypal</option>
        <option value="CCard">Credit Card</option>
      </select>
    </div>

    <div class="w-100"></div>

    <div class="col-2 form-group">
      <label for="inPrCode">Product code:</label>
      <input id="inPrCode" type="text" class="form-control" [(ngModel)]="line.productCode" 
        [typeahead]="products"
        typeaheadOptionField="code" (typeaheadOnSelect)="productTypeaheadChanged($event)"
        [typeaheadScrollable]="true"
        [typeaheadOptionsInScrollableView]="5">
    </div>

    <div class="col-4 form-group">
      <label for="inPrName">Product name:</label>
      <input id="inPrName" type="text" class="form-control" [(ngModel)]="line.productName">
    </div>

    <div class="col-2 form-group">
      <label for="inPrPrice">Product price:</label>
      <input id="inPrPrice" type="text" class="form-control" [(ngModel)]="line.productPrice">
    </div>

    <div class="col-1 form-group">
      <label for="inPrQty">Qty:</label>
      <input id="inPrQty" type="text" class="form-control" [(ngModel)]="line.qty">
    </div>

    <div class="col-2 form-group">
      <label for="inUnit">Unit:</label>

      <select id="inUnit" class="form-control" [(ngModel)]="line.unit">
        <option value="Piece">Piece</option>
        <option value="Litre">Litre</option>
        <option value="Kg">Kg</option>
        <option value="Hour">Hour</option>
      </select>
    </div>


    <div *ngIf="!IsInEditMode" class="col-1 form-group">
      <button type="button" class="buttonBarOk" (click)="addToInvoice()">+</button>
    </div>


    <div *ngIf="IsInEditMode" class="col-1 form-group">
      <button type="button" class="buttonBarOk" (click)="updateRow()">+</button>
      <button type="button" class="buttonBarCancel" (click)="cancelUpdate()">x</button>
    </div>

  </div>

  <div class="row">
    <div class="col-2 form-group">Product code</div>
    <div class="col-3 form-group">Product name</div>
    <div class="col-1 form-group">Qty</div>
    <div class="col-1 form-group">Unit</div>
    <div class="col-2 form-group">Price</div>
    <div class="col-2 form-group">Gross</div>
  </div>

  <div *ngFor="let detail of detailsPage" class="row" [class.highlightedDetailRow]="currentRow===detail">
    <div class="col-2 form-group">{{detail.productCode}}</div>
    <div class="col-3 form-group">{{detail.productName}}</div>
    <div class="col-1 form-group">{{detail.qty}}</div>
    <div class="col-1 form-group">{{detail.unit}}</div>
    <div class="col-2 form-group">{{detail.productPrice}}</div>
    <div class="col-2 form-group">{{detail.productPrice*detail.qty}}</div>
    <div class="col-1 form-group">
      <button class="deleteRow" title="delete row" (click)="deleteRow(detail)">x</button>
      <button class="editRow" title="edit row" (click)="editRow(detail)">*</button>
    </div>
  </div>

  <div class="row bottom-row">
    <div class="col-xs-12 col-12 col-md-3 form-group">
      <pagination [itemsPerPage]=5 [totalItems]="invoice.details.length" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
    </div>
    <div class="col-xs-12 col-12 col-md-2 form-group">Net: {{invoice.header.totalNet | number:"1.0-0"}}</div>
    <div class="col-xs-12 col-12 col-md-2 form-group">Vat: {{invoice.header.totalVat | number:"1.0-0"}}</div>
    <div class="col-xs-12 col-12 col-md-2 form-group">Gross: {{invoice.header.totalNet+ invoice.header.totalVat |
      number:"1.0-0"}}</div>
    <div class="col-xs-12 col-12 col-md-1 form-group"><button type="button" class="btn btn-default" (click)="saveAndClose()">Ok</button></div>
    <div class="col-xs-12 col-12 col-md-1 form-group"><button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button></div>
  </div>
