.modal-body
{
    height: 550px;
}

.bottom-row
{
    position: absolute;
    bottom: -20px;
    width: 100%;
}

.editRow
    {
    position: absolute;   
    left:0px;    
    background-color:lightgray
    }

.deleteRow
    {
    position: absolute;
    left: 28px;    
    background-color:lightgray
    }

