/* customersComponent's private CSS styles */

a.button 
  {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 5px;
    text-decoration: none;
    color: initial;    
    background-color:lightgray;
    width:150px;
  }


.invoice
  {
  position: absolute;
  right:1px;
  background-color:lightgray
  }


.invoice-headers:hover
    {
    color: Blue;
    cursor: pointer;    
    }