<h2>Customers</h2>

<ul class="customers">
  <li *ngFor="let customer of customers" (click)="onSelect(customer)">
    <a routerLink="/detail/{{customer.id}}"><span class="badge">{{customer.id}}</span> {{customer.name}}</a> 
    <button class="delete" title="delete customer" (click)="deleteCustomer(customer.id)">x</button>
    <button class="invoice" title="create invoice for the customer" (click)="createInvoice(customer.id)">I</button>
  </li>
</ul>

<a class="button" routerLink="/detail/0">New Customer</a> 

<hr>

<p>Invoices:</p>
<ag-grid-angular style="width: 800px; height: 150px;" class="ag-theme-balham" [gridOptions]="invoiceHeaderGridOptions" ></ag-grid-angular>
<ag-grid-angular style="width: 800px; height: 100px;" class="ag-theme-balham" [gridOptions]="invoiceDetailGridOptions" ></ag-grid-angular>