/* customersComponent's private CSS styles */

.customer-button
  {
  position: relative;
  top: -5px;
  width:150px;
  margin-top: 5px;
  }


.invoice
  {
  position: absolute;
  right:1px;
  background-color:lightgray
  }


.invoice-headers:hover
  {
  color: Blue;
  cursor: pointer;    
  }